@import url(https://fonts.googleapis.com/css?family=Unica+One|Vollkorn:400,400italic,500,700,700italic);
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

* {
  font-family: "Vollkorn", serif; }

.cf::after {
  clear: both;
  content: "";
  display: table; }

.wrapper {
  max-width: 95%;
  margin-left: auto;
  margin-right: auto; }
  .wrapper::after {
    clear: both;
    content: "";
    display: table; }

#frame {
  max-width: 95%;
  margin-left: auto;
  margin-right: auto; }
  #frame::after {
    clear: both;
    content: "";
    display: table; }
  #frame div {
    padding: 10px 0; }

#logo {
  float: left;
  font-size: 20px;
  letter-spacing: 2.9px;
  font-family: "Unica One", cursive; }

#user-greeting {
  cursor: pointer;
  float: right;
  font-style: italic;
  letter-spacing: 1px;
  margin: 5px 0;
  text-align: right; }

#footer {
  letter-spacing: 2px;
  text-align: center;
  font-size: 12px;
  font-style: italic; }

main {
  height: 80%;
  padding-top: 20px;
  padding-bottom: 20px; }

main.home {
  background-color: #F9F9F9; }

#hero {
  letter-spacing: 2px;
  line-height: 60px;
  font-size: 48px;
  font-weight: 400; }
  #hero strong {
    font-weight: 700; }

#logo {
  color: black;
  text-decoration: none; }

#login {
  color: #414141;
  cursor: pointer;
  float: right;
  margin-top: 30px;
  position: relative;
  text-align: center; }

#login-text {
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 1.5px;
  padding: 0 10px; }

#google-plus {
  height: 36px;
  padding-left: 15px;
  position: absolute;
  top: 5px; }

#login-text-subhead {
  font-size: 20px;
  letter-spacing: 1px;
  font-family: "Unica One", cursive; }

#login-a {
  text-align: center; }

.fight-button {
  padding-left: 20px;
  text-decoration: none; }
  .fight-button span {
    background-color: #F5A623;
    color: white;
    cursor: pointer;
    letter-spacing: 3px;
    margin-left: -10px;
    padding: 10px;
    font-size: 18px;
    font-style: italic;
    font-weight: 700;
    font-family: "Vollkorn", serif; }

#modal-bg {
  background-color: #3B3B3B;
  height: 90%;
  width: 90%;
  margin: 2% auto 0; }

#modal-front {
  background-color: white;
  margin: 5% auto 0;
  height: 80%;
  width: 70%; }
  #modal-front h1, #modal-front h2 {
    color: #414141;
    text-align: center;
    font-weight: 400; }
  #modal-front h1 {
    font-size: 60px;
    letter-spacing: 5px;
    margin-bottom: 0; }
  #modal-front h2 {
    font-size: 36px;
    letter-spacing: 3px;
    margin-top: 10px;
    margin-bottom: 10px; }

#challenge-request-options {
  display: flex;
  justify-content: center; }
  #challenge-request-options img {
    padding: 0 80px; }

.matching {
  color: #414141; }
  .matching h1 {
    letter-spacing: 2px;
    font-size: 48px;
    font-weight: 400;
    margin-top: 0;
    text-transform: uppercase;
    font-family: "Vollkorn", serif; }
  .matching .name {
    font-size: 36px;
    letter-spacing: 1.5px;
    font-family: "Unica One", cursive; }
  .matching .status {
    font-size: 20px;
    letter-spacing: 0.8px; }

/*# sourceMappingURL=style.css.map */
