#frame
    +outer-container(95%)

#logo
    float: left
    font-size: 18px
    letter-spacing: 2.6px
    +sans-serif

#user-greeting
    float: right
    text-align: right

#footer
    letter-spacing: 2px
    text-align: center
    font-size: 12px
    font-style: italic
